# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
> b()
> b()
> b()
> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [53]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

# Explanation:
a is a global variable initialized with value 0. 
Thus when b() function is called, which further calls the c(a) function which update the value of a to 2. 
So, every time when b() is called, 2 is added to existing value of a. Hence at last after three functions call, a will be equal to 6.

b()= c(a)= c(0)= 0+2 = 2

Same way, b()= 2+2 =4

b()=4+2

finally,
a=6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
> fileLength('midterm.py')
284
> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
> fileLength('midterm.py')
358
> fileLength('idterm.py')
File idterm.py not found.

In [55]:
import os
def fileLength(file_name):
    try:
        return os.path.getsize(file_name)
    except:
        print('File {} not found.'.format(file_name))  
    
fileLength('bloodtype1.txt')
fileLength('bloodtype.txt')

File bloodtype1.txt not found.

101

# Question 3
Write a class named Marsupial that can be used as shown below:
> m = Marsupial()
> m.put_in_pouch('doll')
> m.put_in_pouch('firetruck')
> m.put_in_pouch('kitten')
> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [56]:
class Marsupial:
    "Marsupial class"
    
    def __init__(self):
        'instantiates an empty list'
        self.q = []
        
    def put_in_pouch(self,a):
        self.q.append(a)
        return self.q

    def pouch_contents(self):
        return self.q
    
class Kangaroo(Marsupial):
    'Class Kangaroo inherit the class Marsupial' 
    
    def __init__(self, xcoord=0, ycoord=0):
        'initialize coordinates to (xcoord, ycoord)'
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
        
    def __repr__(self):
        'canonical string representation Point(x, y)'
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)

    def jump(self, dx, dy):
        'change the x and y coordinates by dx and dy'
        self.x += dx
        self.y += dy
        
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']

In [57]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [5]:
def collatz(x):
    print(x)
    
    if(x==1):
        pass
    else:    
        if(x%2==0):
            collatz(x//2)
        
        else:
            collatz(3*x+1) 
    
    
collatz(10)
print("\n")
collatz(1)

10
5
16
8
4
2
1


1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [2]:

def binary(n):
    str = ''
    if(n==1):
        str = '1'
    elif(n==0):
        str = '0'
    else:    
        if(n%2==0):
            str = '0'
        else:
            str = '1' 
        str =  binary(n//2) + str 
    return str
        
binary(9)

'1001'

# Question 6
Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have  BDAT 1004 – Data Programming Page 5 of 7 F2021
BDAT 1004 Computer Studies indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [95]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    hlevel = print_tags = recordh2 = ''
    heading_tags = ("h1","h2","h3","h4","h5","h6")
    
    def handle_starttag(self, tag, attrs): 
        if tag in self.heading_tags:
            self.recordh2 = True
            self.hlevel = tag[1]
            self.print_tags = tag
            
    def handle_data(self,data):
        if self.recordh2 == True:
            print("   " * (int(self.hlevel)-1) +data)
            
    def handle_endtag(self, tag):    
        if tag in self.heading_tags:
            self.recordh2 = False      
            
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
parser = HeadingParser()
parser.feed(content)

W3C Mission
   Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [71]:
from urllib.request import urlopen
from urllib.parse import urljoin
from re import findall 
from html.parser import HTMLParser
visited = set()
max_depth =0
depth_counter =-1
global_indent = 0


def webdir(url,depth, indent):
    '''a recursive web crawler that calls analyze() on every visited web page'''
    
    max_depth = depth
    global_indent = indent
    
    global visited     
    visited.add(url)
    global_indent +=1
    
    links = analyze(url,depth, indent)
    
    if(depth>0):
        for link in links:
            try:
                webdir(link,depth -1,global_indent)       
            except:
                pass
    

def analyze(url,depth,indent):
    print("   " * indent+url)
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          

    return urls 

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links



webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
   http://reed.cs.depaul.edu/lperkovic/test2.html
      http://reed.cs.depaul.edu/lperkovic/test4.html
   http://reed.cs.depaul.edu/lperkovic/test3.html
      http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:

In [75]:
import sqlite3

conn = sqlite3.connect('ProblemSet2.db')
conn.execute('''CREATE TABLE IF NOT EXISTS city_details
         (city nvarchar(50),
         country nvarchar(50),
         season nvarchar(50),
         temperature real,
         rainfall real);''')
print ("Table created");

Table created

In [69]:
conn.execute("INSERT INTO city_details (city, country, season, temperature, rainfall) \
      VALUES ('Cairo', 'Eqypt', 'Winter', '13.6', '16.5')"); 
        
conn.commit()

In [ ]:
import sqlite3

conn = sqlite3.connect('ProblemSet2.db')
conn.execute("INSERT INTO city_details (city, country, season, temperature, rainfall)  VALUES ('London', 'United Kingdom', 'Winter', '4.2', '207.7')"); 
        
conn.commit()

In [26]:
import sqlite3

conn = sqlite3.connect('ProblemSet2.db')
conn.execute("INSERT INTO city_details (city, country, season, temperature, rainfall)  values ('London', 'United Kingdom', 'Spring', '8.3', '169.6')"); 
             
conn.execute("INSERT INTO city_details (city, country, season, temperature, rainfall)  values ('London', 'United Kingdom', 'Summer', '15.7', '157.0')"); 
             
conn.execute("INSERT INTO city_details (city, country, season, temperature, rainfall)  values ('London', 'United Kingdom', 'Fall', '10.4', '218.5')"); 
             
conn.commit()

In [30]:
import sqlite3

conn = sqlite3.connect('ProblemSet2.db')
conn.execute("INSERT INTO city_details (city, country, season,temperature, rainfall) values ('Cairo', 'Eqypt', 'Spring', '20.7', '6.5')");
conn.execute("INSERT INTO city_details (city, country, season,temperature, rainfall) values ('Cairo', 'Eqypt', 'Summer', '27.7', '0.1')");
conn.execute("INSERT INTO city_details (city, country, season,temperature, rainfall) values  ('Cairo', 'Eqypt', 'Fall', '22.2', '4.5')");
conn.execute("INSERT INTO city_details (city, country, season,temperature, rainfall) values  ('Mumbai', 'India', 'Winter', '24.8', '5.9')");
conn.execute("INSERT INTO city_details (city, country, season,temperature, rainfall) values  ('Mumbai', 'India', 'Spring', '28.4', '16.2')");
conn.execute("INSERT INTO city_details (city, country, season,temperature, rainfall) values  ('Mumbai', 'India', 'Summer', '27.9', '1549.4')");
conn.execute("INSERT INTO city_details (city, country, season,temperature, rainfall) values ('Mumbai', 'India', 'Fall', '27.6', '346.0')");
             
conn.commit()

In [70]:
import sqlite3

conn = sqlite3.connect('ProblemSet2.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT * from city_details")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

Opened database successfully
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Eqypt', 'Spring', 20.7, 6.5)
('Cairo', 'Eqypt', 'Summer', 27.7, 0.1)
('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Cairo', 'Eqypt', 'Winter', 13.6, 16.5)

1. All the temperature data.

In [74]:
cursor = conn.execute("SELECT temperature FROM city_details")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

(4.2,)
(8.3,)
(15.7,)
(10.4,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(13.6,)

2. All the cities, but without repetition.

In [35]:
cursor = conn.execute("SELECT DISTINCT city FROM city_details")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Cairo',)
('London',)
('Mumbai',)

3. All the records for India.

In [36]:
cursor = conn.execute("SELECT  * FROM city_details where country = 'India'")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

4. All the Fall records.

In [38]:
cursor = conn.execute("SELECT  * FROM city_details where season = 'Fall'")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

5. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [42]:
cursor = conn.execute("SELECT  city, country, season  FROM city_details group by city, country, season having AVG(rainfall) between 200 and 400")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

6. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [44]:
cursor = conn.execute("SELECT city, country FROM city_details where season = 'Fall' group by city, country having AVG(temperature) > 20 order by temperature")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Cairo', 'Eqypt')
('Mumbai', 'India')

7. The total annual rainfall for Cairo.

In [48]:
cursor = conn.execute("SELECT  sum(rainfall) as 'Annual Rainfall' FROM city_details where city = 'Cairo'")
myresult = cursor.fetchone()

for x in myresult:
  print(x)

27.6

8. The total rainfall for each season.

In [52]:
cursor = conn.execute("SELECT  season ,round(sum(rainfall),2) as 'Annual Rainfall' FROM city_details group by season")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Fall', 569.0)
('Spring', 192.3)
('Summer', 1706.5)
('Winter', 230.1)

In [ ]:
conn.close()

# Question 9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:

In [2]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Processed_list = [x.upper() for x in words]

print(Processed_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [4]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Processed_list = [x.lower() for x in words]

print(Processed_list)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [7]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Processed_list = [len(x) for x in words]

print(Processed_list)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Processed_list = [ list((x.upper(), x.lower(), len(x)))  for x in words]

print(Processed_list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [13]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Processed_list = [x for x in words if len(x) >=4]

print(Processed_list)

['quick', 'brown', 'jumps', 'over', 'lazy']